
*.log
*.class
*.cache
*.doc
*.csv

production/data/dataFiles
IB Statements/**
execMgr/**
consolidatedFiles/**
classes/**
mersenne/**

./CVS/**
CVS
CVS/**

test/**
*.xlsx

PriceLevelData.*
AlphaTradingBuildNumber
AlphaConfigurationProd.xml

bin/**
kit-build-dir/**

/bin/
